{% require_css %}
<style>
    {% scope_css %}
    .tvsci-heading {
        {{ module.styles.padding.css }}
        {% if module.styles.background_color %}
        background-color: {{ module.styles.background_color.css }};
        {% endif %}
        text-wrap: balance;
        justify-content: {{ module.styles.alignment.horizontal_align|replace('left', 'flex-start')|replace('right', 'flex-end')|replace('center', 'center') }};
    }
    .tvsci-heading .heading {
        text-align: {{ module.styles.alignment.horizontal_align }};
        {% if module.styles.text_color %}
        color: {{ module.styles.text_color.css }};
        {% endif %}
        {% if module.heading_size != 0 %}
        font-size: {{ module.heading_size }}px !important;
        {% endif %}
        line-height: 1.2 !important;
    }
    {% if module.heading_size_mobile != 0 %}
    @media (max-width: 768px) {
        .tvsci-heading .heading {
            font-size: {{ module.heading_size_mobile }}px !important;
        }
    }
    {% endif %}
    {% end_scope_css %}
</style>
{% end_require_css %}

<span class="tvsci-heading flex  gap-2">
    {% if module.image.src %}
    {% set sizeAttrs = 'width="{{ module.image.width|escape_attr }}" height="{{ module.image.height|escape_attr }}"' %}
    {% if module.image.size_type == 'auto' %}
        {% set sizeAttrs = 'width="{{ module.image.width|escape_attr }}" height="{{ module.image.height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
    {% elif module.image.size_type == 'auto_custom_max' %}
        {% set sizeAttrs = 'width="{{ module.image.max_width|escape_attr }}" height="{{ module.image.max_height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
    {% endif %}
    {% set loadingAttr = module.image.loading != 'disabled' ? 'loading="{{ module.image.loading|escape_attr }}"' : '' %}
    <img class="tvsci-heading-image m-0 mb-0" src="{{ module.image.src|escape_url }}" alt="{{ module.image.alt|escape_attr }}" {{ loadingAttr }} {{ sizeAttrs }}>
    {% endif %}
    <{{ module.header_tag }} class="heading font-{{ module.font_weight }} !m-0">{{ module.value }}</{{ module.header_tag }}>
</span>
