#bottomBg {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@keyframes fade-slide-up {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: fade-slide-up 300ms ease-in forwards;
}