<!-- module html  -->
{% if module.author %}
<div class="blog-post-bio border-t border-[#C0E7D8] py-4 mb-10">
{% for item in module.author %}
<div class="flex items-center">
  <div class="w-[87px]">
    {% if item.image.src %}
	{% set sizeAttrs = 'width="{{ item.image.width }}" height="{{ item.image.height }}"' %}
	{% if item.image.size_type == 'auto' %}
		{% set sizeAttrs = 'width="{{ item.image.width }}" height="{{ item.image.height }}" style="max-width: 100%; height: auto;"' %}
	{% elif item.image.size_type == 'auto_custom_max' %}
		{% set sizeAttrs = 'width="{{ item.image.max_width }}" height="{{ item.image.max_height }}" style="max-width: 100%; height: auto;"' %}
	{% endif %}
	 {% set loadingAttr = item.image.loading != 'disabled' ? 'loading="{{ item.image.loading }}"' : '' %}
	<img class="rounded-full w-full" src="{{ item.image.src }}" alt="{{ item.image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
{% endif %}
  </div>
  <div class="w-full px-3 author-info-details">
    {% inline_rich_text field="name_title_company" value="{{ item.name_title_company }}" %}
  </div>
</div>
{% endfor %}
</div>
{% endif %}