<!--
  templateType: blog_post
  isAvailableForNewContent: true
  label: Ebooks blog post
  screenshotPath: ../images/template-previews/blog-post.png
-->
{% extends "./../layouts/base.html" %}

{% text "summary" label='Summary', export_to_template_context=True %}
{% text "title_link" label='Title Link', export_to_template_context=True %}
{% image "card_image" label='Card Image', export_to_template_context=True %}
{% choice "layout" label='Layout', choices=[["layout-a","Layout A"],["layout-b","Layout B"]], multiple='False', display='radio',export_to_template_context=True %}
{% choice "gated" label='Gated Post', choices=[["yes","Yes"],["no","No"]], multiple='False', display='radio',export_to_template_context=True %}
{% if content.widgets.layout.body.value %}
  {% set page_layout = content.widgets.layout.body.value %}
{% endif %}
{% if content.widgets.gated.body.value %}
  {% set gated = content.widgets.gated.body.value %}
{% endif %}

{% block body %}

{% if page_layout == "layout-a" or page_layout is none%}
{# Layout A #}
<style>
  .sticky-section .form-container {
    position: sticky;
    top: 20px;
    height: 100%;
  }
  hr {
    border: 0 none;
    border-bottom: 1px solid rgba(192,231,216,1.0);
    margin: 0 auto 20px auto;
    width: 100%;
  }
  .content-wrapper {
    padding: 4.5rem 20px;
  }
  .blog-post {
    padding: 0;
  }
  .blog-post_title {
    color: #1c4633;
  }
</style>
<main class="body-container-wrapper container">
  <div class="body-container body-container--blog-post">

    {# Blog post #}
    <div class="content-wrapper flex flex-wrap md:flex-nowrap sticky-section relative gap-8">
      <div class="w-full md:w-2/3">
        <article class="blog-post">
          <h1 class="blog-post__title">{{ content.name }}</h1>
          {% if content.widgets.summary.body.value %}
          <p class="blog-post__summary">{{content.widgets.summary.body.value}}</p>
          {% else %}
            {% if theme.blog.show_summary %}
              <p class="blog-post__summary">{{ content.meta_description|striptags }}</p>
            {% endif %}
          {% endif %}
          <hr />
          <div class="blog-post__meta flex">
            <div class="w-2/3">
            </div>
             <div class="blog-post__social-sharing w-full md:w-1/3">

                {% module "Social Sharing" path="/tvScientific 2022 Atlas Pro/modules/Social Sharing.module"
                facebook={
                  "enabled": true
                }
                linkedin={
                  "enabled": true
                }
                twitter={
                  "enabled": true
                }
                email={
                  "enabled": true
                }
                %}
             </div>
          </div>


          {{ content.post_body }}



        </article>

        {% if group.allow_comments %}
        <div class="blog-comments">
          {% module 'blog_comments' path='@hubspot/blog_comments', label="Blog comments" %}
        </div>
        {% endif %}
      </div>
      <div class="w-full md:w-1/3 form-container">
        {% module "gated_form" path="../modules/custom-form.module", label="ebook form" %}
      </div>
    </div>
    {# End blog post #}

    {# Recent posts listing #}
    {# This macro is used to format each recent post card and
    gets passed to the 'related_blog_posts' tag below #}
    {% macro recent_post(post) %}

    <article class="blog-more-posts__post-wrapper">
      <div class="blog-more-posts__post">
        {% if post.featured_image and group.use_featured_image_in_summary %}
        <a class="blog-more-posts__post-image"
           style="background-image: url('{{ post.featured_image }}');"
           href="{{ post.absolute_url }}">
        </a>
        {% endif %}
        <div class="blog-more-posts__post-content">
          <div>
            {% set featured_tag = post.topic_list | first %}
            {% if featured_tag %}
            <span class="blog-more-posts__post-preheader">{{ featured_tag }}</span>
            {% endif %}
            <h3><a href="{{ post.absolute_url }}">{{ post.name }}</a></h3>
            {% if content_group.show_summary_in_listing %}
            <p>{{ post.meta_description | truncatehtml(150, '...', false) }}</p>
            {% endif %}
          </div>
          <div class="blog-more-posts__post-meta">
            <span class="blog-more-posts__post-author">
              {{ post.blog_post_author }}
            </span>
            <span class="blog-more-posts__post-date">
              {{ post.publish_date | datetimeformat('%b %e, %Y') }}
            </span>
          </div>
        </div>
      </div>
    </article>

    {% endmacro %}

    <div class="content-wrapper">
      <div class="blog-more">
        <h2>Similar posts</h2>
        <div class="blog-more-posts">
          {% related_blog_posts limit=3, no_wrapper=True, post_formatter="recent_post" %}
        </div>
      </div>
    </div>
    {# End recent posts listing #}

    {# module "blog-subscribe" path="../modules/Custom Blog Subscribe", label="Custom Blog Subscribe" #}
    {% module "blog-subscribe" path="../modules/Global Blog Subscribe.module", label="Global Blog Subscribe" %}

  </div>
</main>
{% else %}
{# Layout B #}
<style>
  html {
    scroll-behavior: smooth;
  }
  .cta-group {
    justify-content: center;
  }
  .kl-social-sharing {
    justify-content: flex-start !important;
  }
  .kl-social-link {
    margin: 0;
  }
  .jump-menu a {
    color: #132430;
    font-size: 18px;
    font-weight: 400;
    border-left: 2px solid #198960;

    padding-left: 0.75rem;
    flex-grow: 1;
    margin-bottom: 1.25rem;
  }
  .jump-menu a.current {
    color: #198960;
    font-weight: 700;
    border-left: 2px solid #0F2D29;
  }

  .cta-group {
    align-items: center;
  }

  .cta-button {
    background-color: #23E596;
    color: #0F2D29 !important;
    text-decoration: none;
    font-family: IBM Plex Sans;
    padding: 8px 17px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 24px;
    letter-spacing: 2px;
    border-radius: 3px;
  }

  @media screen and (max-width: 769px){
    .blog-header--post {
      min-height: 200px;
    }
  }
  .blog-post__body, .blog-post__body p {
    font-size: 18px;
  }

  .blog-post__body h3, .blog-post__body h3 span {
    color: #1C4633 !important;
    font-size: 36px !important;
  }

  iframe {
    z-index: 1;
  }

  .reading-progressbar {
    width: 100%;
    height: 16px;
    color: #23E596;
    pointer-events: none;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
    z-index: 2;
  }

  .reading-progressbar--is-out {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }

  .reading-progressbar::-webkit-progress-bar {
    background-color: #D9E2EB;
  }

  .reading-progressbar::-webkit-progress-value {
    background-color: currentColor;
  }

  .reading-progressbar::-moz-progress-bar {
    background-color: currentColor;
  }

  .reading-progressbar__fallback {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: currentColor;
  }

  .progress-dot {
        position: absolute;
        width: 16px; /* Size of the dot */
        height: 16px;
        background-color: #198960; /* Color of the dot */
        border-radius: 50%;
        top: 0; /* Center vertically */
        transform: translateX(-50%);

    }

    #footer-cta {
      background: url(https://www.tvscientific.com/hubfs/go-works-background.jpg) no-repeat top center/cover;
    }

    #footer-cta .hs-image-widget {
      margin: 0;
    }

    #gated-form input[type=email] {
      min-height: 46px
    }

    #gated-form .hs_email  {
      flex: 1
    }

    form {
      display: flex;
      gap: 1rem;
      justify-content: center;
      margin: 0 auto !important;
    }

  @media screen and (max-width: 440px) {
    form {
      width: 100%;
      flex-direction: column;
    }
  }

  form label {
    display: none !important;
  }
  form fieldset:first-child {
    flex: 1;
  }

  [data-hsfc-id=Renderer] .hsfc-TextInput {
    border-radius: 8px !important;
    border: 2px solid #23E596 !important;
  }

  [data-hsfc-id=Renderer] .hsfc-Step .hsfc-Step__Content {
    padding: 0 !important;
  }

  [data-hsfc-id=Renderer] .hsfc-NavigationRow {
    margin-top: 0 !important;
  }

  .hsfc-Step:nth-child(2) .hsfc-Step__Content {
    display: flex;
    flex-wrap: wrap;
  }

  .hsfc-Step:nth-child(2) .hsfc-Step__Content .hsfc-Row:first-child, .hsfc-Step:nth-child(2) .hsfc-Step__Content .hsfc-Row:nth-child(2) {
    width: 50%;
  }

  .hsfc-Step:nth-child(2) .hsfc-Step__Content .hsfc-Row:first-child {
    padding-right: 16px;
  }

  @media screen and (max-width: 769px) {
    .hsfc-Step:nth-child(2) .hsfc-Step__Content .hsfc-Row:first-child {
      padding-right: 8px;
    }
  }

  .hsfc-Step:nth-child(2) .hsfc-Step__Content .hsfc-Row:nth-child(2) {
    padding-left: 16px;
  }

  @media screen and (max-width: 769px) {
    .hsfc-Step:nth-child(2) .hsfc-Step__Content .hsfc-Row:nth-child(2) {
      padding-left: 8px;
    }
  }

  .hsfc-NavigationRow {
    width: 100%;
  }

  .hsfc-Step:nth-child(2) .hsfc-NavigationRow .hsfc-Button:first-child {
    background-color: transparent;
    color: #23E596;
    padding: 0;
  }

  .hsfc-Step:nth-child(2) .hsfc-NavigationRow .hsfc-Button:first-child:before {
    display: inline-block;
    vertical-align: middle;
  content: '';
    background: url(https://www.tvscientific.com/hubfs/2025%20Holiday%20Campaign/small-arrow.svg) no-repeat center center / cover;
    width: 24px;
    height: 24px;
    transform: rotate(180deg);
  }
  .hsfc-Step:nth-child(2) .hsfc-NavigationRow .hsfc-Button:first-child:hover:before {
    transform: rotate(180deg) translateX(0.125rem);
  }

  @media screen and (max-width: 769px) {
    [data-hsfc-id=Renderer] .hsfc-Row {
      margin-bottom: 10px !important;
    }

    [data-hsfc-id=Renderer] .hsfc-NavigationRow__Alerts {
      margin-bottom: 10px !important;
    }
  }

  form .hs-button, form input[type=submit] {
    border-radius: 0px 6px 6px 0px;
    background: #23E596;
    color: #0F2D29;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    padding: 14px 32px;
  }

  @media screen and (max-width: 440px) {
    form .hs-button, form input[type=submit] {
      border-radius: 6px;
    }
  }

  #footer-cta .cta-group {
    align-items: flex-start;
  }

  #hs_cos_wrapper_hero_eyebrow span {
    all: inherit;
  }

</style>
<main>
  {% if content.widgets.hero_image.body.src %}
  <section class="py-20" style="background: url('{{ content.widgets.hero_image.body.src }}') no-repeat center center/cover;">
  {% else %}
  <section class="py-20" style="background: url('{{ content.featured_image }}') no-repeat center center/cover;">
  {% endif %}
    <div class="max-w-[800px] mx-auto text-center hero-container">
      {% module "hero_eyebrow" path="@hubspot/text", label="Hero Eyebrow" value="Ebook" extra_classes="inline-block text-2xl text-[#198960] font-light mb-4"%}
      <h1 class="text-white text-center">{{ content.name }}</h1>
      {% if content.widgets.summary.body.value %}
      <p class="text-white text-center text-2xl">{{content.widgets.summary.body.value}}</p>
      {% endif %}

      {% module "buttons_hero" path="/tvScientific 2022 Atlas Pro/cli-build/modules/custom-button-row.module", label="Hero Buttons" %}

    </div>
  </section>
  <div class="progress sticky top-0 z-10">
    <div class="progress-dot"></div>
   <progress aria-hidden="true" class="reading-progressbar js-reading-progressbar" max="100" value="0">

      <div class="reading-progressbar__fallback js-reading-progressbar__fallback"></div>
    </progress>
  </div>
  <section class="py-20">
    <div class="container mx-auto">

  <div class="blog-body flex flex-col md:flex-row gap-4 md:gap-12">
    <div class="w-full md:w-1/4 relative">

      <div class="sticky top-6">
        {% if content.widgets.jump_menu.body.value == 'Yes' %}
        <div class="jump-menu flex flex-wrap flex-col">
          <p class="text-black text-[22px]">Contents</p>

        </div>
        {% endif %}
        {% if content.widgets.left_cta.body.value == 'Yes' %}
        <div class="mb-5 pt-5 border-t border-[#C0E7D8]">
           <p class="left-cta-title text-[22px] text-[#0F2D29]">See how you can boost lift and ROAS with CTV</p>
           <a class="cta-button button-primary" href="/contact">Request a Demo</a>
         </div>
         {% endif %}
        <div class="blog-post__social-sharing">
          <p class="text-black">Share</p>
            {% module "Social Sharing" path="/tvScientific 2022 Atlas Pro/modules/Social Sharing.module"
                  facebook={
                    "enabled": true
                  }
                  linkedin={
                    "enabled": true
                  }
                  twitter={
                    "enabled": true
                  }
                  email={
                    "enabled": true
                  }
                  %}
         </div>

       </div>
    </div>
    <div class="w-full md:w-3/4">

    {# Blog post #}
      <article class="js-reading-content">



        <div class="blog-post__body">
          {{ content.post_body }}
        </div>


         <div class="blog-post__body-wrapper">


          {% if content.tag_list %}
          <div class="blog-post__tags">
            {% for tag in content.tag_list %}
            <a class="blog-post__tag-link" href="{{ blog_tag_url(group.id, tag.slug) }}">{{ tag.name }}</a>
            {% endfor %}
          </div>
          {% endif %}

        </div>

      </article>

    {# End blog post #}

    </div>
  </div>
  </div>
</section>
<section id="footer-cta" class="py-20">
  <div class="container max-w-[700px] mx-auto">
    {% module "footer_image" path="@hubspot/linked_image", label="Footer Image", extra_classes="text-left" %}
    {% module "footer_cta_text" path="@hubspot/rich_text", label="Footer CTA Text", html="<h2 class='text-white'>Need a hand with the checklist?</h2><p class='text-white'>We built tvScientific to check every box. And then some. Connect with our team for a personalized demo and answers to all your questions</p>" %}
    {% module "buttons_footer_cta" path="/tvScientific 2022 Atlas Pro/cli-build/modules/custom-button-row.module", label="Footer CTA Buttons" %}
  </div>
</section>

</main>
{% if gated == 'yes' %}
<section id="gated-form" class="py-[120px] border border-t border-[#D9E2EB]">
  <div class="container max-w-[700px] mx-auto">
    {% module "gated_text" path="@hubspot/rich_text", label="Gate Form Text", html="<h2 class='text-center'>The Rise of Performance TV</h2><p class='text-center'>Sign up below to get the full report.</p>" %}
    {% module "gated_form" path="@hubspot/form", label="Gated Form" %}


  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    let newHeight = document.querySelector('#break').offsetTop;
    let container = document.querySelector('main');
    let gatedForm = document.querySelector('#gated-form');
    let formHeight = gatedForm.offsetHeight;
    container.style.height = newHeight+'px';
    container.style.overflow = 'hidden';
    gatedForm.style.marginTop = '-'+formHeight+'px';
    window.addEventListener('hs-form-event:on-submission:success', (event) => {
      container.removeAttribute('style');
      gatedForm.style.display = 'none';
    });
  });

</script>
{% endif %}

<script>

  var isInViewport = function(elem) {
    var distance = elem.getBoundingClientRect();
    return (
      distance.top <= 65
    );
  };
  document.addEventListener("DOMContentLoaded", (event) => {
    const anchorMenu = document.querySelector('.jump-menu');
    const currentAnchors = document.querySelectorAll('a[data-hs-anchor]');
    if( currentAnchors ) {
      anchorMenu.classList.remove('hidden');
    }
    currentAnchors.forEach((currentAnchor) => {
      var menuAnchor = document.createElement('a');
      menuAnchor.setAttribute('href','#' + currentAnchor.id);
      var anchorTitleElement = currentAnchor.nextElementSibling;
      var anchorTitleText = anchorTitleElement.innerText;
      var anchorText = document.createTextNode(anchorTitleText);
      menuAnchor.appendChild(anchorText);
      anchorMenu.appendChild(menuAnchor);
    });
    window.addEventListener('scroll', function(event) {
    // add event on scroll
    currentAnchors.forEach(element => {

        if (isInViewport(element)) {
          //if in Viewport
          var dataName = '#'+element.id;
          var currentButton = document.querySelector('.jump-menu a.current');
          var sideNavButton = document.querySelector('a[href="'+dataName+'"]');
          if(currentButton) {
            if(currentButton !== sideNavButton) {
              currentButton.classList.remove('current');
              sideNavButton.classList.add('current');
            }
          } else {
            sideNavButton.classList.add('current');
          }

        }
    });
    }, false);
  });
  if(!Util) function Util () {};

Util.addClass = function(el, className) {
  var classList = className.split(' ');
  el.classList.add(classList[0]);
  if (classList.length > 1) Util.addClass(el, classList.slice(1).join(' '));
};

Util.removeClass = function(el, className) {
  var classList = className.split(' ');
  el.classList.remove(classList[0]);
  if (classList.length > 1) Util.removeClass(el, classList.slice(1).join(' '));
};

Util.toggleClass = function(el, className, bool) {
  if(bool) Util.addClass(el, className);
  else Util.removeClass(el, className);
};

// File#: _1_reading-progressbar
// Usage: codyhouse.co/license
(function() {
  var readingIndicator = document.getElementsByClassName('js-reading-progressbar')[0],
    readingIndicatorContent = document.getElementsByClassName('js-reading-content')[0];

  if( readingIndicator && readingIndicatorContent) {
    var progressInfo = [],
      progressEvent = false,
      progressFallback = readingIndicator.getElementsByClassName('js-reading-progressbar__fallback')[0],
      progressIsSupported = 'value' in readingIndicator;

    var boundingClientRect = readingIndicatorContent.getBoundingClientRect();

    progressInfo['height'] = readingIndicatorContent.offsetHeight;
    progressInfo['top'] = boundingClientRect.top;
    progressInfo['bottom'] = boundingClientRect.bottom;
    progressInfo['window'] = window.innerHeight;
    progressInfo['class'] = 'reading-progressbar--is-active';
    progressInfo['hideClass'] = 'reading-progressbar--is-out';

    //init indicator
    setProgressIndicator();
    // wait for font to be loaded - reset progress bar
    if(document.fonts) {
      document.fonts.ready.then(function() {
        triggerReset();
      });
    }
    // listen to window resize - update progress
    window.addEventListener('resize', function(event){
      triggerReset();
    });

    //listen to the window scroll event - update progress
    window.addEventListener('scroll', function(event){
      if(progressEvent) return;
      progressEvent = true;
      (!window.requestAnimationFrame) ? setTimeout(function(){setProgressIndicator();}, 250) : window.requestAnimationFrame(setProgressIndicator);
    });

    function setProgressIndicator() {
      var boundingClientRect = readingIndicatorContent.getBoundingClientRect();
      progressInfo['top'] = boundingClientRect.top;
      progressInfo['bottom'] = boundingClientRect.bottom;

      if(progressInfo['height'] <= progressInfo['window']) {
        // short content - hide progress indicator
        Util.removeClass(readingIndicator, progressInfo['class']);
        progressEvent = false;
        return;
      }
      // get new progress and update element
      Util.addClass(readingIndicator, progressInfo['class']);
      var value = (progressInfo['top'] >= 0) ? 0 : 100*(0 - progressInfo['top'])/(progressInfo['height'] - progressInfo['window']);
      readingIndicator.setAttribute('value', value);
      if(value<=100){
      if(!progressIsSupported && progressFallback) progressFallback.style.width = value+'%';
      }
      var progressDot = document.querySelector('.progress-dot');
      if(value<=100){
        progressDot.style.left = value+'%';
      }
      // hide progress bar when target is outside the viewport
      Util.toggleClass(readingIndicator, progressInfo['hideClass'], progressInfo['bottom'] <= 0);
      progressEvent = false;
    };

    function triggerReset() {
      if(progressEvent) return;
      progressEvent = true;
      (!window.requestAnimationFrame) ? setTimeout(function(){resetProgressIndicator();}, 250) : window.requestAnimationFrame(resetProgressIndicator);
    };

    function resetProgressIndicator() {
      progressInfo['height'] = readingIndicatorContent.offsetHeight;
      progressInfo['window'] = window.innerHeight;
      setProgressIndicator();
    };
  }
}());



</script>
{% endif %}
{% endblock body %}


