<!--
  templateType: blog_listing
  isAvailableForNewContent: true
  label: New Blog listing
  screenshotPath: ../images/template-previews/blog-index.png
-->
{% extends "./../layouts/base.html" %}

{% include './../../modules/macros.html' %}

{% block body %}


<main class="body-container-wrapper container">
  <div class="body-container body-container--blog-index">

    {% if blog_author %}
    {# Blog author listing #}
    <div class="pt-20">
      <div class="content-wrapper">
        <div class="">

          {% if blog_author.avatar %}
          <div class="blog-header__avatar" style="background-image: url('{{ blog_author.avatar }}');"></div>
          {% endif %}

          <div class="blog-header__author">
            <span class="blog-header__preheader">AUTHOR</span>
            <h1 class="text-[#1C4633]">{{ blog_author.display_name }}</h1>
            {% if blog_author.bio %}
            <p class="blog-header__author-bio">{{ blog_author.bio }}</p>
            {% endif %}

            {% if blog_author.has_social_profiles %}
            <div class="blog-header__author-social-links">
              {% if blog_author.website %}
              <a href="{{ blog_author.website }}" target="_blank" rel="noopener">
                {% icon name='link',
                  purpose='semantic',
                  style='SOLID',
                  title='Follow me on my website',
                  width='10' %}
              </a>
              {% endif %}
              {% if blog_author.facebook %}
              <a href="{{ blog_author.facebook }}" target="_blank" rel="noopener">
                {% icon name='facebook-f',
                  purpose='semantic',
                  style='SOLID',
                  title='Follow me on Facebook',
                  width='10' %}
              </a>
              {% endif %}
              {% if blog_author.linkedin %}
              <a href="{{ blog_author.linkedin }}" target="_blank" rel="noopener">
                {% icon name='linkedin',
                  purpose='semantic',
                  style='SOLID',
                  title='Follow me on LinkedIn',
                  width='10' %}
              </a>
              {% endif %}
              {% if blog_author.twitter %}
              <a href="{{ blog_author.twitter }}" target="_blank" rel="noopener">
                {% icon name='twitter',
                  purpose='semantic',
                  style='SOLID',
                  title='Follow me on Twitter',
                  width='10' %}
              </a>
              {% endif %}
            </div>
            {% endif %}
          </div>

        </div>
        <div class="blog-index__author">
          <h2>Stories by {{ blog_author.display_name | split(' ') | first }}</h2>
        </div>
      </div>
      
      
      <div class="py-12">
        <div class="relative">
          <div class="absolute -left-3 top-0 -translate-y-[6px]">
            <div class="w-[12px] h-[12px] rounded-full bg-[#C0E7D8]"></div>
          </div>
          <div class="absolute -right-3 top-0 -translate-y-[6px]">
            <div class="w-[12px] h-[12px]  rounded-full bg-[#C0E7D8]"></div>
          </div>
          <hr class="border-[#C0E7D8]">
        </div>
       
      </div>
    </div>
    {# End blog author listing #}

    {% elif tag %}

      {% if tag == "webinar" %}
        {% set tag_id = "Webinars" %}
      {% endif %}

      {% if tag == "blog" %}
        {% set tag_id = "Blogs" %}
      {% endif %}

      {% if tag == "event" %}
        {% set tag_id = "Events" %}
      {% endif %}

      {% if tag == "reports" %}
        {% set tag_id = "Ebooks" %}
      {% endif %}

      {% if tag == "news" %}
        {% set tag_id = "News" %}
      {% endif %}
      {% if tag == "press-release" %}
        {% set tag_id = "Press Releases" %}
      {% endif %}

    {# Blog tag listing #}
    <div class=" pt-20">
      <div class="mb-12">
        <a href="https://www.tvscientific.com/resources"
          class="flex relative items-center hover:no-underline group">
          <div class="w-4 text-center group-hover:-translate-x-0.5 duration-200 transition-transform">
            <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M9.55957 5L6.55957 8L9.55957 11" stroke="#009061" stroke-width="1.5"/>
              </svg>
          </div>
          <div class="px-3">
            <p class="m-0 font-plex-mono tracking-widest uppercase text-[14px] text-[#009061]">Back to Resources</p>
          </div>
        </a>
      </div>
      <div class="">
        <h1 class="text-[#1C4633] capitalize">All 
          {% if tag_id %}
            {{ tag_id }}
          {% elif %}
            {{ tag }}
          {% else %}
            {{blog.public_title}}
          {% endif %}</h1>
      </div>
      {% if theme.blog.header_image.src %}
      <div class="blog-header__image">
        {{ render_image(theme.blog.header_image) }}
      </div>
      {% endif %}
    </div>
    <div class="py-12">
      <div class="relative">
        <div class="absolute -left-3 top-0 -translate-y-[6px]">
          <div class="w-[12px] h-[12px] rounded-full bg-[#C0E7D8]"></div>
        </div>
        <div class="absolute -right-3 top-0 -translate-y-[6px]">
          <div class="w-[12px] h-[12px]  rounded-full bg-[#C0E7D8]"></div>
        </div>
        <hr class="border-[#C0E7D8]">
      </div>
     
    </div>
    
    {# End blog tag listing #}

    {% else %}
    {# Blog header #}
    <div class="pt-20 mb-12">
      <div class="mb-12">
        <a href="https://www.tvscientific.com/resources"
          class="flex relative items-center hover:no-underline group">
          <div class="w-4 text-center group-hover:-translate-x-0.5 duration-200 transition-transform">
            <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M9.55957 5L6.55957 8L9.55957 11" stroke="#009061" stroke-width="1.5"/>
              </svg>
          </div>
          <div class="px-3">
            <p class="m-0 font-plex-mono tracking-widest uppercase text-[14px] text-[#009061]">Back to Resources</p>
          </div>
        </a>
      </div>
      <div class="content-wrapper">
        <div class="">
          <h1 class="text-[#1C4633]">All {{ group.public_title }}</h1>
          {% if theme.blog.header_image.src %}
          <div class="blog-header__image">
            {{ render_image(theme.blog.header_image) }}
       
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    {# End blog header #}
    {% endif %} 

    {% if blog.public_title == "Press" %}
      <section class="w-full grid gap-10 grid-cols-2">

        {% for content in contents %}
        <div class="w-full">
          <div class="border-t border-[#009061] relative h-full py-6">
            <p class="mb-1 uppercase text-[#1E4D83]">{{ content.publish_date | datetimeformat('%b %e, %Y') }}</p>
            <a href="{{ content.absolute_url }}">
              <h2 class="!text-[22px] !leading-[32px] tracking[.22px] font-medium">{{ content.name }}</h2>
            </a>
          </div>
        </div>
        {% endfor %}
      </section>
    {% else %}

      <section class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-x-2 gap-y-4 md:gap-x-4 md:gap-y-8 mb-12">

        {# Blog listing #}
        {% for content in contents %}
        {# the following picks up information from news posts #}
        {% set pub_logo = content.widgets.publication_logo.body.src %}
        {% set out_link = content.widgets.title_link.body.value %}
        {# On the blog listing page, the first post will be featured above older posts #}

        <article class="h-full">
          <div class="rounded-lg border h-full border-[#009061] overflow-hidden relative group">
            {% unless out_link %}
            <a href="{{ content.absolute_url }}" class="absolute top-0 left-0 w-full h-full z-10"></a>
            {% else %}
            <a href="{{out_link}}" target="_blank" class="absolute top-0 left-0 w-full h-full z-10"></a>
            {% endunless %}
            {% unless pub_logo %}
            <div class="h-[170px]">
              {% if content.featured_image %}
              <img alt="{{ content.name }} thumbnail graphic" class="w-full h-full object-cover" src="{{ content.featured_image }}" alt="" {{ loadingAttr }} >
              {% endif %}
            </div>
            {% else %}
            <div class="h-[170px] flex">
              <img alt="{{ content.name }} thumbnail graphic" class="p-6" src="{{ pub_logo }}" alt="" {{ loadingAttr }} >
            </div>
            {% endunless %}
            
            <div class=" p-6">
    
              {% if tag != "reports"  %}
              <p class="mb-3 uppercase text-[#009061] font-medium ">{{ content.publish_date | datetimeformat('%b %e, %Y') }}</p>
              {% endif  %}
              <h2 class="!text-[22px] !leading-[28px] mb-6 font-medium text-[#31373D]">{{ content.name }}</h2>
              {% unless out_link %}
              <a href="{{ content.absolute_url }}" class="flex absolute bottom-3 left-0 px-6 items-center hover:no-underline">
              {% else %}
              <a href="{{ out_link }}" class="flex absolute bottom-3 left-0 px-6 items-center hover:no-underline" target="_blank">
              {% endunless %}
                <div>
                  <p class="m-0 font-plex-mono tracking-widest uppercase text-[14px] text-[#009061]">Read now</p>
                </div>
                <div class="w-4 text-center group-hover:translate-x-0.5 duration-200 transition-transform">
                  <svg width="20" height="20" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M7 5L10 8L7 11" stroke="#009061" stroke-width="1.5"></path></svg>
                </div>
              </a>
            </div>
          </div>
        </article>

        {% endfor %}
        {# End blog listing #}

      </section>
    {% endif %}
      {# Blog pagination #}
      {% if contents.total_page_count > 1 %}
      {% set page_index = current_page_num > 0 ? current_page_num : 1 %}
      <div class="blog-pagination">
        {# Previous button #}

        {# First #}
        {% if page_index >= 3 %}
        <a href="{{ blog_page_link(1) }}" class="blog-pagination__link">1</a>
        <span class="blog-pagination__ellipsis">...</span>
        {% endif %}

        {% if page_index > 1 %}
        <a href="{{ blog_page_link(page_index - 1) }}"
           class="blog-pagination__link">
          {{ page_index - 1 }}
        </a>
        {% endif %}

        <a href="{{ blog_page_link(page_index) }}"
           class="blog-pagination__link blog-pagination__link--active">
          {{ page_index }}
        </a>

        {% if page_index != contents.total_page_count %}
        <a href="{{ blog_page_link(page_index + 1) }}"
           class="blog-pagination__link" >
           {{ page_index + 1 }}
        </a>
          {% endif %}

          {# Last #}
          {% if contents.total_page_count - page_index > 1 %}
          <div>
            <span class="blog-pagination__ellipsis">...</span>
            <a href="{{ blog_page_link(contents.total_page_count) }}"
               class="blog-pagination__link" >
               {{ contents.total_page_count }}
            </a>
          </div>
          {% endif %}

          {# Next button #}
      </div>
      {% endif %}
      {# End blog pagination #}

    <section class="py-40">
    {% module "cta_section" path="../modules/cta-section.module", label="CTA Section" cta_section_label="Learn More" cta_section_header="See how tvScientific can  empower you" cta_section_button={
      link: {
        url: {
          href: "https://www.tvscientific.com/contact"
        }
      }
    } %}
    </section>
  </div>
</main>

{% endblock body %}

