<!--
    templateType: page
    label: Partner Page
    isAvailableForNewContent: true
-->
{% extends "../layouts/base.html" %}
{% block header %}
  {% global_partial path="../partials/header.html" %}
  {% require_css %}
  <style>
    html {
        scroll-behavior: smooth;
    }
    .body-wrapper {
        overflow-x: initial !important;
    }
  </style>
  {% end_require_css %}
{% endblock header %}
{% block body %}
<main>
  {% dnd_area "dnd_area" class='dnd-empty', label='Drag and Drop Area' %}


  {% end_dnd_area %}
</main>
{% endblock body %}

