<!--
  templateType: "none"
  isAvailableForNewContent: false
-->
{% set href = module.first_column.cta_section_button.link.url.href %}
  {% if module.first_column.cta_section_button.link.url.type is equalto "EMAIL_ADDRESS" %}
    {% set href = "mailto:" + href %}
  {% endif %}

{% set first_bg_color = module.style.first_background_color.color %}
{% set second_bg_color = module.style.second_background_color.color %}
{% set header_color = module.style.header_text_color.color %}
{% set label_color = module.style.label_text_color.color %}
{% set button_bg = module.style.button_color.color %}
{% set button_color = module.style.button_text_color.color %}
<!-- module html  -->
<div class="flex md:gap-x-6">
  <div class="rounded-xl md:w-7/12 md:p-6 lg:p-12" style="background-color: {{first_bg_color}}; background-image: url({{ module.first_column.background_texture.src }}) no-repeat;">
  
    <p class="text-[14px] md:text-[18px] font-bold leading-tight mb-3" style="color: {{label_color}};">
    {{ module.first_column.cta_section_label }}
    </p>
    <p class="text-[24px] md:text-[36px] font-bold leading-tight mb-6" style="color: {{header_color}};">
      {{ module.first_columncta_section_header }}
    </p>
    {% if href %}
      {% if module.first_column.cta_section_button.link.url.type is equalto "EMAIL_ADDRESS" %}
        <p style="color: {{header_color}};">Please email <a href="{{href}}">{{module.first_column.cta_section_button.link.url.href}}</a></p>
      {% else %}
        <a href="{{href}}" 
        {% if module.first_column.cta_section_button.link.open_in_new_tab %}target="_blank"{% endif %}
        {% if module.first_column.cta_section_button.link.rel %}rel="{{ module.first_column.cta_section_button.link.rel }}"{% endif %} class="hs-button mb-12 lg:mb-0" style="background-color: {{button_bg}}; color: {{button_color}};">{{ module.first_column.cta_section_button.text }}</a>
      {% endif %}
    {% endif %}
    
  </div>
  <div class="rounded-xl md:w-5/12 md:p-6 lg:p-12 relative group flex flex-col-reverse lg:block overflow-hidden" style="background-color: {{second_bg_color}};">
  </div>  
</div>