<!-- module html  -->
{% set label_color = module.style.label_color.css %}
{% set heading_color = module.style.heading_color.css %}
{% set paragraph_color = module.style.paragraph_color.css %}
<div class="relative py-[24px] md:py-[100px] z-0 ">
  <div class="container grid grid-cols-1 lg:grid-cols-2 gap-10">
    <div class="w-full">
      <div class="px-5">
        <div class="flex items-center pl-[24px] lg:pl-[40px] mb-6">
          <div class="py-2">
            <a href="/customers/" class="m-0 text-[14px] uppercase tracking-widest font-bold"{% if label_color %} style="color: {{ label_color }};"{% endif %}>{{ module.label_text }}</a>
          </div>
          <div class=" h-full  w-[1px]  mx-6"{% if label_color %} style="background-color: {{ label_color }};"{% endif %}>
            &nbsp;
          </div>
          <div class="w-24">
            {% if module.logo.src %}
            {% set sizeAttrs = 'width="{{ module.logo.width }}" height="{{ module.logo.height }}"' %}
            {% if module.logo.size_type == 'auto' %}
              {% set sizeAttrs = 'width="{{ module.logo.width }}" height="{{ module.logo.height }}" style="max-width: 100%; height: auto;"' %}
            {% elif module.logo.size_type == 'auto_custom_max' %}
              {% set sizeAttrs = 'width="{{ module.logo.max_width }}" height="{{ module.logo.max_height }}" style="max-width: 100%; height: auto;"' %}
            {% endif %}
            {% set loadingAttr = module.logo.loading != 'disabled' ? 'loading="{{ module.logo.loading }}"' : '' %}
            <img src="{{ module.logo.src }}" alt="{{ module.logo.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
          {% endif %}

          </div>
        </div>
        <div class="border-l-4 pl-[24px] lg:pl-[40px]"{% if label_color %} style="border-color: {{ label_color }};"{% endif %}>
          <h1 class="lg:!text-[50px]"{% if heading_color %} style="color: {{ heading_color }};"{% endif %}>
            {{ module.h1 }}
          </h1>

        </div>
        <div class="pl-[24px] lg:pl-[40px]">
          <p class="text-[18px]"{% if paragraph_color %} style="color: {{ paragraph_color }};"{% endif %}>
            {{ module.paragraph }}
          </p>
        </div>
      </div>
    </div>
    <div class="w-full relative ">
      <div class="flex items-center justify-center w-full h-full inset-0 cs-hero-bg">
        {% if module.image.src %}
        {% set sizeAttrs = 'width="{{ module.image.width }}" height="{{ module.image.height }}"' %}
        {% if module.image.size_type == 'auto' %}
          {% set sizeAttrs = 'width="{{ module.image.width }}" height="{{ module.image.height }}" style="max-width: 100%; height: auto;"' %}
        {% elif module.image.size_type == 'auto_custom_max' %}
          {% set sizeAttrs = 'width="{{ module.image.max_width }}" height="{{ module.image.max_height }}" style="max-width: 100%; height: auto;"' %}
        {% endif %}
        {% set loadingAttr = module.image.loading != 'disabled' ? 'loading="{{ module.image.loading }}"' : '' %}
        <img src="{{ module.image.src }}" alt="{{ module.image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
        {% endif %}
      </div>
    </div>
  </div>
</div>
