<!-- module html  -->
{{ require_css("https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css") }}
{{ require_js("https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js", "head") }}

{% set contents = blog_recent_posts(module.blog | default('default'), 6 )%}

<div class="flex flex-wrap items-stretch latest-posts-swiper relative ">
  <div class="swiper-wrapper h-full border-[#C0E7D8] -mx-3 flex items-stretch">
	{% for content in contents %}
    <div class="swiper-slide px-3 h-full">
      <div class="rounded-lg border h-full border-[#009061] overflow-hidden relative group">
        <a href="{{ content.absolute_url }}" class="absolute top-0 left-0 w-full h-full z-10"></a>
        <div>   
          <img class="w-full" src="{{ content.featured_image }}" alt="" {{ loadingAttr }} >
        </div>
        <div class=" p-6">
          <p class="mb-1 uppercase text-[#009061]">{{ content.publish_date | datetimeformat('%b %e, %Y') }}</p>
          <h2 class="!text-[22px] !leading-[28px] ">{{ content.name }}</h2>
        
          <a href="{{ content.absolute_url }}"
           class="flex relative items-center hover:no-underline">
            <div>
              <p class="m-0 font-plex-mono tracking-widest uppercase text-[14px] text-[#009061]">Read now</p>
            </div>
            <div class="w-4 text-center group-hover:translate-x-0.5 duration-200 transition-transform">
              <svg width="20" height="20" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M7 5L10 8L7 11" stroke="#009061" stroke-width="1.5"></path></svg>
            </div>
          </a>
        </div>
      </div>
    </div>
  {% endfor %}
    <div class="swiper-slide px-3 h-full">
      <div class="rounded-lg w-11/12 bg-[#1C4633] h-full">
        <div class="mb-6">
          <img class="w-full" src="https://8975772.fs1.hubspotusercontent-na1.net/hubfs/8975772/card-texture-green.png" alt="See all blogs card">
        </div>
        <div class="px-6 pb-6">
          <h2 class="!text-[22px] !leading-[32px] text-white">See All Blogs</h2>
          <a href="{{ href }}"
          {% if card.cta.link.open_in_new_tab %}target="_blank"{% endif %}
          {% if card.cta.link.rel %}rel="{{ card.cta.link.rel }}"{% endif %} class="flex relative items-center group hover:no-underline">
            <div>
              <p class="m-0 font-plex-mono tracking-widest text-[#009061] uppercase text-[14px]">Read Now</p>
            </div>
            <div class="w-4 text-center group-hover:translate-x-0.5 duration-200 transition-transform">
              <svg width="20" height="20" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M7 5L10 8L7 11" stroke="#009061" stroke-width="1.5"></path></svg>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>