@tailwind base;
@layer base {
    body,html {
        @apply overflow-x-hidden;
    }
    body {
        @apply leading-tight !font-plex font-normal;
    }
    ul {
        @apply list-disc pl-6;
    }

    h1, .h1 {
        @apply !text-[32px] !leading-[42px]  md:!text-[42px] md:!leading-[50px] lg:!text-[50px] lg:!leading-[60px] text-black !font-plex !font-semibold;
      }

    h2, .h2 {
      @apply !text-[24px] !leading-[32px]  md:!text-[36px] md:!leading-[44px] text-black font-normal !font-plex;
    }
}
@tailwind components;

@tailwind utilities;

@layer components {
    .heading-xxl {
        @apply font-bold;
        font-family: "Bricolage Grotesque";
        font-size: clamp(40px, 5vw + 20px, 80px);
        line-height: 1;
    }

    .heading-xl {
        @apply font-semibold;
        font-family: "Bricolage Grotesque";
        font-size: clamp(32px, 4vw + 16px, 60px);
        line-height: clamp(125%, 0.3vw + 112%, 120%);
    }
}