<!-- module html  -->
{{ require_css("https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css") }}
{{ require_js("https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js", "head") }}

<div class="flex flex-wrap items-stretch card-swiper relative ">  
  <div class="swiper-wrapper h-full border-[#C0E7D8] flex items-stretch">
  {% if module.card_tag.slug %}

    {% set cta_text = "watch now" %}
    {% if (module.card_tag.slug == "reports") %}
      {% set cta_text = "read more" %}
    {% endif %}
    {% set card_tags = blog_recent_tag_posts("default", module.card_tag.name, 6) %}
    {% for card_tag in card_tags %}
    
      {% set card_bg_color = module.card_theme.odd_card_background_color.color %}
    
      {% set card_texture = module.card_theme.odd_card_texture.src %}
  
      {% if loop.index % 2 == 0 %}

        {% set card_bg_color = module.card_theme.even_card_background_color.color %}
        {% set card_texture = module.card_theme.even_card_texture.src %}
    
      {% endif %}

      {% set href=card_tag.absolute_url %}

    <div class="border-t py-6 swiper-slide border-[#C0E7D8] w-full" >
      <div style="background-color: {{card_bg_color}}" class="rounded-lg w-11/12 h-full relative group">
        <a href="{{ href }}" class="absolute top-0 left-0 w-full h-full z-10"></a>
        <div>
          {% if card_texture %}
            <img class="w-full" src="{{ card_texture }}" alt="{{ card_tag.featured_image_alt_text }}" >
          {% endif %}
          
        </div>
        <div class="px-6 pb-6">
          <h2 class="!text-[22px] !leading-[32px] text-white">{{ card_tag.name }}</h2>
        
          <a href="{{ href }}"
          {% if card.cta.link.open_in_new_tab %}target="_blank"{% endif %}
          {% if card.cta.link.rel %}rel="{{ card.cta.link.rel }}"{% endif %} class="flex relative items-center hover:no-underline">
            <div>
              <p class="m-0 font-plex-mono tracking-widest text-white uppercase text-[14px]">{{ cta_text }}</p>
            </div>
            <div class="w-4 text-center group-hover:translate-x-0.5 duration-200 transition-transform">
              <svg width="20" height="20" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M7 5L10 8L7 11" stroke="#ffffff" stroke-width="1.5"></path></svg>
            </div>
          </a>
        </div>
      </div>
    </div>
    {% endfor %}

  {% else %}

    {% for card in module.cards %}

      {% set href = card.cta.link.url.href %}
      {% if card.cta.link.url.type is equalto "EMAIL_ADDRESS" %}
        {% set href = "mailto:" + href %}
      {% endif %}
    <div class="border-t py-6 swiper-slide border-[#C0E7D8] w-full " >
      <div style="background-color: {{ card.background_color.color }}" class="rounded-lg w-11/12 h-full">
        <div>
          {% if card.texture.src %}
            {% set sizeAttrs = 'width="{{ card.texture.width }}" height="{{ card.texture.height }}"' %}
          
            {% set loadingAttr = card.texture.loading != 'disabled' ? 'loading="{{ card.texture.loading }}"' : '' %}
          
            <img class="w-full" src="{{ card.texture.src }}" alt="{{ card.texture.alt }}" {{ loadingAttr }} >
          {% endif %}
          
        </div>
        <div class="px-6 pb-6">

          <h2 class="!text-[22px] !leading-[32px] text-white">{{ card.title }}</h2>
        
          <a href="{{ href }}"
          {% if card.cta.link.open_in_new_tab %}target="_blank"{% endif %}
          {% if card.cta.link.rel %}rel="{{ card.cta.link.rel }}"{% endif %} class="flex relative items-center group hover:no-underline">
            <div>
              <p class="m-0 font-plex-mono tracking-widest text-white uppercase text-[14px]">{{ card.cta.text }}</p>
            </div>
            <div class="w-4 text-center group-hover:translate-x-0.5 duration-200 transition-transform">
              <svg width="20" height="20" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M7 5L10 8L7 11" stroke="#ffffff" stroke-width="1.5"></path></svg>
            </div>
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  {% endif %}
  {% if module.final_card.show_final_card %}
    
  
  <div class="border-t py-6 swiper-slide border-[#C0E7D8] w-full">
    <div class="rounded-lg w-11/12 h-full" style="background-color: {% if module.final_card.bg_color.color %} {{ module.final_card.bg_color.color }} {% else %} #1C4633 {% endif %}">
        <div class="mb-6">
        {% if module.final_card.texture.src %}
          {% set sizeAttrs = 'width="{{ module.final_card.texture.width }}" height="{{ module.final_card.texture.height }}"' %}
          {% if module.final_card.texture.size_type == 'auto' %}
            {% set sizeAttrs = 'width="{{ module.final_card.texture.width }}" height="{{ module.final_card.texture.height }}" style="max-width: 100%; height: auto;"' %}
          {% elif module.final_card.texture.size_type == 'auto_custom_max' %}
            {% set sizeAttrs = 'width="{{ module.final_card.texture.max_width }}" height="{{ module.final_card.texture.max_height }}" style="max-width: 100%; height: auto;"' %}
          {% endif %}
           {% set loadingAttr = module.final_card.texture.loading != 'disabled' ? 'loading="{{ module.final_card.texture.loading }}"' : '' %}
          <img class="w-full" src="{{ module.final_card.texture.src }}" alt="{{ module.final_card.texture.alt }}" {{ loadingAttr }}>
        {% endif %}
     
        </div>
        <div class="px-6 pb-6">
          <h2 class="!text-[22px] !leading-[32px] text-white">{% if module.final_card.header  %} {{ module.final_card.header }} {% else %} See All {{ module.card_tag.name }} {% endif %}</h2>
        <a href="{% if module.final_card.link.url.href %} {{module.final_card.link.url.href}} {% else %} {{ blog_tag_url("default", module.card_tag.slug) }} {%endif%}"
        class="flex relative items-center group hover:no-underline">
            <div>
              <p class="m-0 font-plex-mono tracking-widest text-[#009061] uppercase text-[14px]">{% if module.final_card.text %} {{ module.final_card.text }} {% else %} {{ cta_text }} {% endif %}</p>
            </div>
            <div class="w-4 text-center group-hover:translate-x-0.5 duration-200 transition-transform">
              <svg width="20" height="20" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M7 5L10 8L7 11" stroke="#009061" stroke-width="1.5"></path></svg>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</div>