{% require_css %}
<style>

  .homepage-hero-module {
    position: relative;
    {% if module.background == 'color' %}
    background-color: {{module.style.background_color.css}};
    {% endif %}
    {% if module.background == 'image' %}
    background-image: {{module.background_image.src}};
    {% endif %}
    max-height: 100vh;
    height: 100vh;
  }

  .homepage-hero-module video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  {% scope_css %}
  .h1 {
    color: var(--Light-Green, #0FBF84);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: IBM Plex Sans;
    font-size: 24px !important;
    font-style: normal;
    font-weight: 500 !important;
    line-height: 32px !important;
    text-wrap: balance !important;
  }
  .h1.below {
    color: #fff;
    line-height: 1;
  }

  h1.sub-below {
    margin-bottom: 20px;
  }
  .h2 {
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: IBM Plex Sans;
    font-size: 60px !important;
    font-style: normal;
    font-weight: 700;
    line-height: 72px !important; /* 120% */
    max-width: 827px;
    margin-top: 0;
  }
  .module-wrapper {

    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    position: absolute;
    bottom: 106px;
  }
  .module-content {
    max-width: {{module.style.container_width}}px !important;
    margin: auto;
  }
  .hs-video-widget {
    width: 100%;
  }
  .cta-button {
    text-decoration: none;
    font-family: IBM Plex Sans;
    padding: 8px 28px;
    font-size: 14px;
    font-weight: 700px;
    text-transform: uppercase;
    line-height: 24px;
    letter-spacing: 2px;
    border-radius: 3px;
  }
  .button-secondary {
    font-size: 12px;
    padding: 8px 17px;
  }
  .cta-group {
    display: flex;
    gap: 17px;
  }
  .button-primary {
    background-color:#23E596;
    color: #0F2D29 !important;
  }
  .button-secondary {
    background-color: #E5E7EB;
    color: #009061;
  }
  .mobile-video {
    display: none;
  }
  @media screen and (max-width: 767px){
    .module-wrapper {
      bottom: 56px;
    }
    .desktop-video {
      display: none;
    }
    .mobile-video {
      display: block;
      width: 100%;
    }
    h1.sub-below {
      margin-bottom: 16px;
      font-size: 32px !important;
      line-height: 38px !important;
    }
    p.h1 {
      font-size: 20px !important;
      line-height: 27px !important;
    }
    .h2 {
      font-size: 32px !important;
      font-style: normal;
      line-height: 42px !important; /* 131.25% */
    }
    .cta-group {
      flex-direction: column;
    }
    .cta-button {
      width: fit-content;
    }

  }
  {% end_scope_css%}
</style>
{% end_require_css %}


<div class="{{name}} homepage-hero-module">
  {% if module.background == 'video' %}
  <video id="desktop_video" class="desktop-video" autoplay="autoplay" loop="loop" muted="" playsinline="">
    <source src="{{module.desktop_video}}" type="video/mp4">
  </video>

  {% if module.mobile_video %}
  <video id="mobile_video" class="mobile-video" autoplay="autoplay" loop="loop" muted="" playsinline="">
    <source src="{{module.mobile_video}}" type="video/mp4">
  </video>

  {% endif %}
  {% endif %}
  <div class="module-wrapper">
    <div class="module-content">
      {% if module.subheading %}
        {% if module.subheading_placement == 'above_title' %}
          <p class="h1">{{module.subheading}}</p>
          <h1 class="h2 sub-above">{{module.content}} </h1>
        {% else %}
          <h1 class="h2 sub-below">{{module.content}} </h1>
          <p class="h1 below">{{module.subheading}}</p>
        {% endif %}
      {% else %}
      <h1 class="h2">{{module.content}}</h1>
      {% endif %}
      <div class="cta-group">
        {% for item in module.cta %}
        {% set href = item.link.url.href %}
        {% if item.link.url.type is equalto "EMAIL_ADDRESS" %}
        {% set href = "mailto:" + href %}
        {% endif %}
        <a class="cta-button button-{{ item.button_style }}" href="{{ href }}"
           {% if item.link.open_in_new_tab %}target="_blank"{% endif %}
           {% if item.link.rel %}rel="{{ item.link.rel }}"{% endif %}
           >
          {{ item.button_text }}
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>