{% set size = "24px" %}
{% set borderRadius = "3px" %}
{% set linkStyle = "width:"~size~";border-width:0px;border:0px;text-decoration:none;" %}
{% set imgStyle = "height:"~size~";width:"~size~";border-radius:"~borderRadius~";border-width:0px;border:0px;" %}

{% macro render_social_icon(networkName) %}
	{% set network = module[networkName] %}
  {% if (networkName == "pinterest" and network.pinterest_media and network.enabled) or (networkName != "pinterest" and network.enabled) %}
    {% if networkName == "pinterest" %}
      {% set pinterest_media = module.pinterest.pinterest_media.src %}
    {% endif %}
    {% set logo = networkName ~'-color.png' %}
    {% set urlOperator = "&" if "?" in page_meta.canonical_url else "&" %}
    {% if module.link %}
			{% set social_link_url = module.link ~ urlOperator ~ "utm_medium=social&utm_source="|safe ~ networkName %}
    {% elif content.email_type.blogRssChild %}
      {% set social_link_url = content.rss_email_url %}
    {% else %}
			{% set social_link_url = page_meta.canonical_url ~ urlOperator ~ "utm_medium=social&utm_source="|safe ~ networkName %}
		{% endif %}

    <a class="kl-social-link" href="{{ network.custom_link_format }}" target="_blank" rel="noopener" style="{{ linkStyle }}" >
		<div class="kl-social-logos !m-0 kl-logo-{{networkName}}"></div>
      <!--img src="{{ module_asset_url(logo) }}" class="hs-image-widget hs-image-social-sharing-24" style="{{ imgStyle }}" width="{{ size }}" hspace="0" alt='{{ "Share on " ~ networkName }}' /-->
    </a>
	{% endif %}
{% endmacro %}

<div class="sticky-sidebar-cta pt-12 mb-12 lg:mb-0">
  <div class="sticky-sidebar-cta__content">
    <p class="sticky-sidebar-cta__title font-bricolage-grotesque font-semibold text-2xl text-primary-dark mb-0">
      See how you can boost lift and ROAS with CTV
    </p>
    <a href="/contact" class="sticky-sidebar-cta__button w-full my-3 !text-[#1F252B] !background-[#0FBF84] hs-button">
      Request a demo
    </a>
  </div>
  <p class="text-primary-dark mb-3">
    Share
  </p>
  <div class="flex gap-4 flex-wrap">
    {{ render_social_icon('facebook') }}
    {{ render_social_icon('linkedin') }}
    {{ render_social_icon('twitter') }}
    {{ render_social_icon('pinterest') }}
    {{ render_social_icon('email') }}
  </div>
</div>




